.col-xl-6.col-lg-12.col-md-12.col-sm-12
  .container-productos.custom-scroll
    .row
      .col-md-12
        .carrito-container-item
          .row
            .col-md-12
              .row.mt-1
                .col-md-3.col-sm-12
                  .overflow-hidden.carrito-image.m-auto
                    img.image-fluid(src='/img/ORH82L0.png' alt='Producto')
                .col-md-6.col-sm-12
                  .row
                    .col-sm-12
                      p.text-primary.justify
                        | Lorem ipsum dolor sit amet
                        | consectetur adipisicing elit.
                      .text-success.font-weight-bold Disponible
                      .form-group
                        p.m-0 Cantidad
                        .col-md-4.col-sm-12.p-0
                          input.form-control(type='number' value='1')
                .col-md-3.col-sm-12
                  .pr-2
                    p.font-weight-bold.text-right Precio
                    p.text-danger.font-weight-bold.text-right
                      span $
                      | 88.96
      