.col-xl-6.col-lg-12.col-md-12.col-sm-12
  .container-productos.overflow-auto.custom-scroll
    .row
      .col-md-12.col-sm-12
        .seeds-material-card
          .p-3
            .row
              .col-md-4
                h4 Direcci&oacute;n
              .col-md-4
                p.text-break Don bosco los pinos Samaria Sector 1
              .col-md-4
                .float-right
                  button.btn.btn-link.p-0.m-0 Cambiar
      .col-md-12.col-sm-12
        .seeds-material-card
          .p-3
            .row
              .col-md-4
                h4 M&eacute;todo de Pago
              .col-md-4
                p.text-break Don bosco los pinos Samaria Sector 1
              .col-md-4
                .float-right
                  button.btn.btn-link.p-0.m-0 Cambiar
      .col-md-12.col-sm-12
        .seeds-material-card
          .p-4
            .row
              .col-sm-12
                .row
                  .col-sm-6
                    p Productos (4)
                    p Envi&oacute; y Manejo
                  .col-sm-6
                    p.text-right $117.96
                    p.text-right $0.00
              .col-sm-12
                .border-bottom.mb-1
              .col-sm-12
                .row
                  .col-sm-6
                    p Total antes de impuestos
                    p Calculo estimado de impuestos por
                  .col-sm-6
                    p.text-right $0.00
                    p.text-right $0.00
              .col-sm-12
                .border-bottom.mb-1
              .col-sm-12
                .row
                  .col-sm-6
                    p Total antes de impuestos
                  .col-sm-6
                    p.text-right $0.00
              .col-sm-12
                .text-center
                  button.boton.btn.btn-primary(type='button' data-toggle='modal' data-target='#modalformapago')
                    | Finalizar
                    | Pedido
  #modalformapago.modal.fade.text-left(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog.modal-xl.modal-ancho
        .modal-dialog-scrollable.modal-content
          .modal-header
            button.close(type='button' data-dismiss="modal")
              span(aria-hidden='true') &times;
              span.sr-only Close
          .modal-body
            include ./formularioPago.pug