.direccionesUsuarios
    if(usuario.direcciones.length)
        each direccion in usuario.direcciones
            div
                label.pulNombre Direccion #{direccion.nombre}
                ul.dirUsuario
                    li=direccion.nombre
                    li=direccion.telefono
                    li=direccion.direccion

            div
                button.buttom-direcciones.hollow(type='button' data-toggle='modal' data-target='#modaldirecciones') AGREGAR
    -else
        div
            label.pulNombre No hay direcciones de envió
            ul.dirUsuario
                li No hay direcciones
        div.text-right
            button.buttom-direcciones.hollow(type='button' data-toggle='modal' data-target='#modaldirecciones') Crear
#modaldirecciones.modal.fade.text-left(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-md.modal-ancho
      .modal-dialog-scrollable.modal-content
        .modal-header
          button.close(type='button' data-dismiss="modal")
            span(aria-hidden='true') &times;
            span.sr-only Close
        .modal-body
            .justify-content-md-center
                .row
                    .col-md-12.col-sm-12
                        form.justify-content-md-center.shadow.p-4(action='/usuario/direccion', method='POST')
                            h3.card-title.text-center Dirección
                            div
                            img.separador(src='/img/separador.png' alt='Separator')
                            .form-group
                                label(for='inputState', name='pais') Pais o Region
                                select#inputState.form-control
                                    option(select) Panama
                                    option Colombia
                            .form-group
                                label(for='NombreCompleto') Nombre Completo
                                input#NombreCompleto.form-control(type='text', name='nombre')
                            .form-group
                                label(for='Direccion1', ) Dirección 
                                textarea.form-control(name="direccion", cols="30", rows="5" placeholder='Direccion, Apartado Postal, Nombre Empresa')
                            .form-group
                                label(for='Telefono') Numero de Contacto
                                input#Telefono.form-control(type='text', name='telefono')
                            button.buttom.hollow(type='submit') Agregar