.container-fluid
  .justify-content-md-center.row
    .col-md-6.col-sm-12
      form.justify-content-md-center.shadow.p-4
        h3.card-title.text-center Direccion
        div
          img.separador(src='/static/media/separador.9f2cbbb8.png' alt='Separator')
        .form-group
          label(for='inputState') Pais o Region
          select#inputState.form-control
            option Panama
            option Estados Unidos
            option China
            option Mexico
            option Japon
        .form-group
          label(for='NombreCompleto') Nombre Completo
          input#NombreCompleto.form-control(type='text')
        .form-group
          label(for='Direccion1') Linea de Direccion 1
          input#Direccion1.form-control(type='text' placeholder='Direccion, Apartado Postal, Nombre Empresa')
        .form-group
          label(for='Direccion2') Linea de Direccion 2
          input#Direccion2.form-control(type='text' placeholder='Direccion, Suit, Edificio, Piso')
        .form-group
          label(for='Ciudad') Ciudad
          input#Ciudad.form-control(type='text')
        .form-group
          label(for='Estado') Estado/ Provincia / Region
          input#Estado.form-control(type='text')
        .form-group
          label(for='Telefono') Numero de Telefono
          input#Telefono.form-control(type='text')
        button.buttom.hollow Agregar