.justify-content-md-center
    .row
        .col-md-12.col-sm-12
            .creditCardForm
                .heading
                    h1 Confirmacion de Compra
                .payment
                    form
                    .form-group.owner
                        label(for='owner') Nombre Completo
                        input#owner.form-control(type='text')
                    .form-group.CVV
                        label(for='cvv') CVV
                        input#cvv.form-control(type='text')
                    #card-number-field.form-group
                        label(for='cardNumber') Numero de Tarjeta
                        input#cardNumber.form-control(type='text')
                    #expiration-date.form-group
                        label Fecha de vencimiento
                        .expiration-date-form
                            select
                                option(value='01') Enero
                                option(value='02') Febrero 
                                option(value='03') Marzo
                                option(value='04') Abril
                                option(value='05') Mayo
                                option(value='06') Junio
                                option(value='07') Julio
                                option(value='08') Agosto
                                option(value='09') Septiembre
                                option(value='10') Octubre
                                option(value='11') Noviembre
                                option(value='12') Diciembre
                            select
                                option(value='20')  2020
                                option(value='21')  2021
                                option(value='22')  2022
                                option(value='23')  2023
                                option(value='24')  2024
                                option(value='25')  2025
                    #credit_cards.form-group
                        a(href="https://www.visa.com.pa/" target='_blank')
                            img#visa(src='/img/visa-logo.png')
                        a(href="https://centroamerica.mastercard.com/es-region-cam.html" target='_blank')
                            img#mastercard(src='/img/mastercard-logo.png')
                    .form-group.owner
                        label(for='owner') Numero de telefono
                        input#owner.form-control(type='tel')
                    .form-group.CVV
                        label(for='cvv') Monto
                        input#cvv.form-control(type='number' readonly='readonly')
                    #pay-now.form-group
                        button#confirm-purchase.btn.btn-default(type='submit') Confirmar
    script(src="js/jquery.payform.min.js")
    script(src="js/formularioPago.js")

            //- form.justify-content-md-center.shadow.p-4(action='/usuario/direccion', method='POST')
            //-     h3.card-title.text-center Dirección
            //-     div
            //-     img.separador(src='/img/separador.png' alt='Separator')
            //-     .form-group
            //-         label(for='inputState', name='pais') Pais o Region
            //-         select#inputState.form-control
            //-             option(select) Panama
            //-             option Colombia
            //-     .form-group
            //-         label(for='NombreCompleto') Nombre Completo
            //-         input#NombreCompleto.form-control(type='text', name='nombre')
            //-     .form-group
            //-         label(for='Direccion1', ) Dirección 
            //-         textarea.form-control(name="direccion", cols="30", rows="5" placeholder='Direccion, Apartado Postal, Nombre Empresa')
            //-     .form-group
            //-         label(for='Telefono') Numero de Contacto
            //-         input#Telefono.form-control(type='text', name='telefono')
            //-     button.buttom.hollow(type='submit') Agregar