extends layout

block content
  .site-header
    .redes-sociales
      a(href='#')
        i.fab.fa-facebook-f(aria-hidden='true')
      a(href='#')
        i.fab.fa-twitter(aria-hidden='true')
      a(href='#')
        i.fab.fa-pinterest(aria-hidden='true')
      a(href='#')
        i.fab.fa-youtube(aria-hidden='true')
      a(href='#')
        i.fab.fa-instagram(aria-hidden='true')
    img.imagenhero.img-fluid(src='/img/GreenLogo-Hero.png')

  include ./formularioPago.pug
