doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/index.css')
  body
    ul.menu
      li.menu_list
        a.enlace(href='/')
          span.front
            img.logo(alt='' src='/img/LogoNombre.png')
      if(!user)
        li.menu_list
          div
          a.enlace(href="/auth/iniciar-sesion")
              span.front.fas.fa-user-astronaut(aria-hidden='true')
              a.side(href='/auth/iniciar-sesion')
                | Login
      if(user)
        li.menu_list
          div
            a.enlace(href="/usuario")
              span.front.fas.fa-user(aria-hidden='true')
              a.side(href='/usuario') Perfil usuario
      li.menu_list
        div
          a.enlace(href="/nosotros")
            span.front.fas.fa-users(aria-hidden='true')
            a.side(href='/nosotros') Nosotros
      li.menu_list
        div
          a.enlace(href="/noticias")
            span.front.fas.fa-newspaper(aria-hidden='true')
            a.side(href='/noticias') Noticias
      li.menu_list
        div
          a.enlace(href="/mercancia")
            span.front.fas.fa-briefcase(aria-hidden='true')
            a.side(href='/mercancia') Mercanc&iacute;a
      li.menu_list
        div
          a.enlace(href="/metas")
            span.front.fas.fa-flag(aria-hidden='true')
            a.side(href='/metas') Metas
      li.menu_list
        div
          a.enlace(href="/carrito")
            span.front.fas.fa-shopping-cart(aria-hidden='true')
            a.side(href='/carrito') Carrito
    block content

  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=' crossorigin='anonymous')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js") 
  script(src='https://kit.fontawesome.com/a81368914c.js')
  script(src='/js/bootstrap.min.js')
