extends layout
block content
    if(!errors)
       -var errors = {};
    
    if(!form)
       -var form = {};

    .iniciosesion
        .iniciosesion-imagen
        .iniciosesion-formulario
            form.iniciosesion-form(action='/auth/iniciar-sesion', method='POST')
                .fieldset
                    img(src='' alt='')
                    label.iniciosesion-label(for='email') Correo
                    input#email.iniciosesion-input(type='email' name='correo' ,placeholder='seeds@ejemplo.com' class='' value ='')
                    label.iniciosesion-label(for='password') Contraseña
                    input#password.iniciosesion-input(type='password' name='password' placeholder='*******' autocomplete='true' class='' value ='')
                    button.buttom.hollow(type = 'submit') Iniciar
                    .flex
                        //a.iniciosesion-link(href='/RecuperarContrasena') Olvido su contraseña?
                        a.iniciosesion-link(href='/auth/registro-usuario') Registrarse
