extends layout
block content
    .iniciosesion
        .iniciosesion-imagen
        .iniciosesion-formulario
            form.iniciosesion-form
                .fieldset
                    img(src='' alt='')
                    label.iniciosesion-label(for='email') Correo
                    input#email.iniciosesion-input(type='email' placeholder='seeds@ejemplo.com')
                    label.iniciosesion-label(for='password') Contrase&ntilde;a
                    input#password.iniciosesion-input(type='password' placeholder='*******' autocomplete='true')
                    button.buttom.hollow Iniciar
                    .flex
                        a.iniciosesion-link(href='/RecuperarContrasena') Olvido su contrase&ntilde;a?
                        a.iniciosesion-link(href='/registrousuario') Registrarse
