extends layout
block content
    .perfilusuario
        .perfilusuario-banner
            img(src='/img/smite.png')
        .perfilusuario-info
            img.pu-imagenPerfil(src='https://ui-avatars.com/api/?name=roderick+romero&size=256&rounded=true&background=246a40&color=ffffff&font-size=0.55?bold=true')
            button.buttom-perfil.mr-1.mt-1
                i.fas.fa-sign-out-alt(aria-hidden='true')
            .perfilusuario-contenedor
                .pu-contenedorinfo
                    .perfilusuario-labels
                        label.pulNombre.text-capitalize #{usuario.nombre} #{usuario.apellido}
                        label.pulPais Panam&aacute;
                        ul.pu-ul
                            li Panam&aacute;
                            li San Miguelito
                            li Samaria
                        label soymanco@roderick.com
                        label 6458-7896
                .pu-contenedorRecompensas
                    .rdContenedor
                        .rdInformacion
                            .rdInformacionDescripcion
                                .descripcionTitulo
                                    div Semilla de arbol de manzano
                                .informacionDescripcion
                                    p Semilla de arbol de manzado para iniciar la reforestacion de x lugar
                            .rdInformacionSellos
                                .sellosRecompensas
                                    img(src='/img/SelloRecompensa.png')
                                .sellosRecompensas
                                    img(src='/img/SelloRecompensa.png')
                                .sellosRecompensas
                                    img(src='/img/333.png')
                        .rdProducto
                            img(src='/img/12737.jpg')
    include ./direccionesUsuario.pug
