extends layout
block content
    div(class = 'contenedorSobreNosotros')
        h2 Nuestra Misi&oacute;n, Visi&oacute;n y Valores
        .sobreNosotrosMVV
            div(class = 'MVV')
                img(src='/img/Mision.png')
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    | industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    | into electronic typesetting, remaining essentially unchanged.
            div(class = 'MVV')
                img(src='/img/Vision.png')
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    | industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    | into electronic typesetting, remaining essentially unchanged.
            div(class = 'MVV')
                img(src='/img/Valores.png')
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    | industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    | into electronic typesetting, remaining essentially unchanged.
        h2 Nuestro Equipo
        include ./tarjetacontacto.pug
